/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 31, 2017, 7:01:08 PM
    Author     : jaszczur
*/

@media screen and (min-width :1024px){

 
    #navV{
        height: 100px;
        text-transform:uppercase;
    }
    .navbar-brand{
        margin-left: 10%;
    }
    #navbarSupportedContent{
        margin-left: 50%;
    }
}

.container{
    margin-top: 100px;
}

#about-div{
    margin-top: 50px;
    margin-bottom: 50px;
}   


#portfolio-img{
    position: relative;
    width: 300px;
    height: auto;
    padding: 20px;
    margin: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease-out;
    background-color: #008CBA;
}
 #about-div{
     background-color: #d0d5d8;
     padding-top: 30px;
     padding-bottom: 80px;
  }


#portfolio-img:hover .overlay{
    opacity: 0.9;

}

input{
    display: block;
}
 
#img-lukaszek{
    max-width: 45%;
}
.img-circle {
    border-radius: 50%;
}
